# Default ignored files
/shelf/
/.idea/workspace.xml
# Editor-based HTTP Client requests
/httpRequests/
# Datasource local storage ignored files
/dataSources/
/dataSources.local.xml
../uploads
../certificates

../node_modules

../server.js.https
/node_modules/
/config.env
/.idea/
/server.js.https
/public/files/uploads/
